<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated grid -->
      <package
            uri="http://www.bestsolution.at/framework/grid/1.0"
            class="at.bestsolution.framework.grid.model.grid.GridPackage"
            genModel="model/grid.genmodel"/>
   </extension>

</plugin>
